@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.body {
    font-family: Arial, Helvetica;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
}

/* information header */
h3 {
    font-size: 36px;
    font-weight: 900px;
}

p {
    font-size: 18px;
}

.logo {
    font-size: 24px;
}

.quote {
    font-size: 36px;
    font-weight: 300px;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    display: flex;
}

a {
    text-decoration-line: none;
}

button {
    background-color: #3882f6;
    color: white;
}

.top, .footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px 220px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.info {
    color: #1f2937;
    padding: 30px 220px;
    text-align: center;
    justify-content: space-between;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
}

.middle {
    background-color: #e5e7eb;
    padding: 60px 220px;
    text-align: center;
}

.cred {
    text-align: right;
    padding-right: 60px;
}

.action {
    background-color: #3882f6;
    color: white;
    padding: 20px 120px;
    margin: 30px 180px;
    border-radius: 10px;
    display: flex; 
    justify-content: space-between;
}

.footer {
    text-align: center;
}
/*
.welcomeleft
.info 
.footerleft
*/
