@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
}

h3 {
    font-size: 36px;
    font-weight: 900px;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 15px;
    display: flex;
}

a { text-decoration-line: none; }

img { 
    width: 150px;
    align-self: center;
    padding: 10px;
    border: 1px solid #3882f6;
    border-radius: 10px;
}

.heroimg {
    width: 300px;
    align-self: center;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 10px;
}


.top, .footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hero {
    display: flex;  
    justify-content: space-between;
    padding: 100px 0px;
    gap: 100px;
}

.placeholder {
    background-color: #6E737D;
    width: 1400px;
}

.info {
    color: #1f2937;
    padding: 30px 350px;
    text-align: center;
    gap: 300px;
}

.examplecontainer {
    display: flex;
    justify-content: space-between;
}

.example {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ^ !! check prev flex excercises */ 

.middle {
    background-color: #e5e7eb;
    padding: 90px 350px;
    text-align: right;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}

.action {
    background-color: #3882f6;
    color: white;
    padding: 30px 90px;
    margin: 90px 300px;
    border-radius: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer {
    text-align: center;
}
